.row {
 display: grid;
 grid-template-columns: 2fr 1fr 1fr 1fr;
 column-gap: 2.4rem;
 align-items: center;
 transition: none; 
 padding: 1rem 1rem; 
 border-top: 1px solid #f3f4f6;
}
.row-text {
  font-size:1.5rem;
  color: #6b7280;
}